<header>
  <div class="panel padding-10">
    <div class="row">
      <div class="col-2 d-flex justify-content-center"><img src="{{ imageUrl }}" alt="logo" width="40px"> {{ title }}</div>
      <div class="col-8">
        <div class="row">
          @for (link of links; track link) {
            <div class="col d-flex justify-content-center"
              >
              <a [href]="link.href">{{link.label}}</a>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</header>