<div class="padding-25 bg-color-1">
  <div class="row mb-4">
    <div class="col-12 d-flex flex-column align-items-center gap-3">
      <span class="titre">{{ title }}</span>
      <button class="btn btn-secondary" (click)="onClick()">Toggle</button>
        <app-cocktail-navigation (letterSelected)="onLetterSelected($event)" (searchPerformed)="onSearchPerformed($event)"></app-cocktail-navigation>
    </div>
  </div>
  <div class="row">
    @for (c of listOfCocktails; track c) {
      <div class="col-2 d-col justify-content-center pb-5">
        <app-cocktail-card [cocktail]="c" [showDescription]="showDescription" />
      </div>

    } @empty {
      <div class="col-12 d-flex justify-content-center">
        <span class="text-muted">No cocktails found.</span>
      </div>
    }
  </div>
</div>

